---
import BaseLayout from "@/layouts/BaseLayout.astro"
import NavBar from "@/components/NavBar.astro"
const { frontmatter } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="public\Pure_Data_logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={frontmatter.description} />
		<title>{frontmatter.title}</title>
	</head>
	<body>
	
		<BaseLayout title="Página Principal" description="Página principal del sitio web Pure Data en español">

		<NavBar />
		
	    <h1>Teoría y técnica de la música electrónica</h1>
		<h2>Por Miller Puckette</h2>

		<h3>REDACCIÓN: 30 de diciembre 2006 </h3>

		<h3>Copyright ©2007 by World Scientic Publishing Co. Pte. Ltd. Todos los derechos reservados.<br>
			
		<h4>Traducido al español por Felipe Morales</h4>
			
			Este es un humilde intento de traducir el libro guía de Pure Data escrito por Miller Puckette,<br>
			es un proyecto sin fines de lucro que solo busca crear contenido para la comunidad de Pure Data de habla hispana.<br>

		</h3>
		</BaseLayout>
		
	</body>
</html>
