---

---
<nav class="hero-nav">
    <a class="pure-data-logo" href="Pure_Data_logo.svg">
        <img src="/Pure_Data_logo.svg" alt="Pure Data Logo" width="50" height="50" />
    </a>
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/puredata">Pure Data</a></li>
        <li><a href="/book">Teoría y técnica de la música electrónica</a></li>
    </ul>

</nav>