---
import PdLogo from "./PdLogo.astro"
---
<nav class="hero-nav p-4">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <a href="/">
            <PdLogo size="80" color="white" />
        </a>

        <!-- Nav Links -->
        <ul class="flex space-x-8 text-white font-bold">
            <li><a class="hover:text-gray-400 transition-colors duration-300" href="/">Portada</a></li>
            <li><a class="hover:text-gray-400 transition-colors duration-300" href="/book">Índice</a></li>
            <li><a class="hover:text-gray-400 transition-colors duration-300" href="/puredata">Pure Data</a></li>
        </ul>
    </div>
</nav>
