---
import BaseLayout from "./BaseLayout.astro";
const {frontmatter} = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="text-center max-w-4xl mx-auto p-8">
        <p class="title">{frontmatter.title}</p>
        <slot/>
    </div>
<p></p>
<p></p>
</BaseLayout>